# Data Load

In [1]:
import config
from pshmodule.utils import filemanager as fm

In [2]:
df = fm.load(config.data_path)

extension : .xlsx
Loaded 36602 records from /Volumes/GoogleDrive/내 드라이브/MemeProject/data/row_data/meme_v1.xlsx

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,총 세트 수,총 발화문 수,밈 제외 발화,밈 발화 수,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1525,24897,15747,9150,NaN,NaN,NaN
1,NaN,문장일련번호,관리번호,밈 id,set,utt,발화구분,대화소재,ARG0,발화문,ARG1,ARG_op,서술어,화행(U),meme_ID
2,NaN,1,Aa0001,DT0044,1,1,U,학교생활,나,나 중간고사 반에서 1등했어,중간고사,반에서,1등하다,자랑,NaN
3,NaN,2,NaN,NaN,NaN,2,U,학교생활,나,중간고사 점수 내가 반에서 제일 잘 받음,중간고사,반에서,점수 제일 잘 받다,자랑,NaN
4,NaN,3,NaN,NaN,NaN,3,U,학교생활,나,나 반에서 중간 성적 제일 좋아,중간,반에서,성적 제일 좋다,자랑,NaN

#### header 생성

In [4]:
new_header = df.iloc[1]
df = df[2:]
df.columns = new_header

In [5]:
df.head(10)

1,NaN,문장일련번호,관리번호,밈 id,set,utt,발화구분,대화소재,ARG0,발화문,ARG1,ARG_op,서술어,화행(U),meme_ID
2,NaN,1,Aa0001,DT0044,1,1,U,학교생활,나,나 중간고사 반에서 1등했어,중간고사,반에서,1등하다,자랑,NaN
3,NaN,2,NaN,NaN,NaN,2,U,학교생활,나,중간고사 점수 내가 반에서 제일 잘 받음,중간고사,반에서,점수 제일 잘 받다,자랑,NaN
4,NaN,3,NaN,NaN,NaN,3,U,학교생활,나,나 반에서 중간 성적 제일 좋아,중간,반에서,성적 제일 좋다,자랑,NaN
5,NaN,4,NaN,NaN,NaN,4,U,학교생활,나,우리 반에서 내가 시험 제일 잘 봤다,시험,우리 반에서,제일 잘 보다,자랑,NaN
6,NaN,5,NaN,NaN,NaN,5,U,학교생활,NaN,중간고사 반 1등 먹음,중간고사,반,1등 먹다,자랑,NaN
7,NaN,6,NaN,NaN,NaN,6,U,학교생활,나,중간시험 내가 반 1등이야,중간시험,반,1등이다,자랑,NaN
8,NaN,7,NaN,NaN,NaN,7,CPR,NaN,NaN,그렇다면 통 크게 함 쏴야지!,NaN,NaN,NaN,NaN,NaN
9,NaN,8,NaN,NaN,NaN,8,CPR,NaN,NaN,ㄹㅇ? 대길이 한턱 쏴야겠네,NaN,NaN,NaN,NaN,NaN
10,NaN,9,NaN,NaN,NaN,9,CPR,NaN,NaN,1등 기념으로 플렉스 함 가즈아~!,NaN,NaN,NaN,NaN,NaN
11,NaN,10,NaN,NaN,NaN,10,CPR,NaN,NaN,진심? 그럼 자축하러 가야지,NaN,NaN,NaN,NaN,NaN

### Column Organize

In [6]:
df = df[['발화구분', '발화문', 'meme_ID']]

In [7]:
df.reset_index(inplace=True, drop=True)

In [8]:
df.head()

1 발화구분                     발화문 meme_ID
0    U         나 중간고사 반에서 1등했어     NaN
1    U  중간고사 점수 내가 반에서 제일 잘 받음     NaN
2    U       나 반에서 중간 성적 제일 좋아     NaN
3    U    우리 반에서 내가 시험 제일 잘 봤다     NaN
4    U            중간고사 반 1등 먹음     NaN

In [9]:
df_user = df[df['발화구분']=='U']

In [10]:
df_user.reset_index(inplace=True, drop=True)

In [11]:
df_user.head(10)

1 발화구분                     발화문 meme_ID
0    U         나 중간고사 반에서 1등했어     NaN
1    U  중간고사 점수 내가 반에서 제일 잘 받음     NaN
2    U       나 반에서 중간 성적 제일 좋아     NaN
3    U    우리 반에서 내가 시험 제일 잘 봤다     NaN
4    U            중간고사 반 1등 먹음     NaN
5    U          중간시험 내가 반 1등이야     NaN
6    U           너 왜 이렇게 멍청하냐?     NaN
7    U            이 새끼 빡대가리잖아?     NaN
8    U            너 말귀 못 알아듣냐고     NaN
9    U              병신 이해력 딸리네     NaN

In [12]:
df_user.rename(columns={'발화구분':'type', '발화문':'content', 'meme_ID':'meme_id'}, inplace=True)

/var/folders/yv/ss_gxzgs3jx6dn00dwvzvn100000gn/T/ipykernel_23086/3915493298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user.rename(columns={'발화구분':'type', '발화문':'content', 'meme_ID':'meme_id'}, inplace=True)

In [13]:
df_user.shape

(9150, 3)

#

# Okt

In [14]:
import re
import swifter
from konlpy.tag import Okt

In [15]:
okt = Okt()

In [16]:
def make_morphs(content):
    result = okt.morphs(str(content))
    return result

In [17]:
df_user.head(10)

1 type                 content meme_id
0    U         나 중간고사 반에서 1등했어     NaN
1    U  중간고사 점수 내가 반에서 제일 잘 받음     NaN
2    U       나 반에서 중간 성적 제일 좋아     NaN
3    U    우리 반에서 내가 시험 제일 잘 봤다     NaN
4    U            중간고사 반 1등 먹음     NaN
5    U          중간시험 내가 반 1등이야     NaN
6    U           너 왜 이렇게 멍청하냐?     NaN
7    U            이 새끼 빡대가리잖아?     NaN
8    U            너 말귀 못 알아듣냐고     NaN
9    U              병신 이해력 딸리네     NaN

### preprocessing

In [18]:
def substr(content):
    result = re.sub('[^0-9a-zA-Zㄱ-힣\s]', '', str(content))
    return result

In [19]:
df_user_content = df_user[df_user.content.isnull()]
print(df_user_content.head())

Empty DataFrame
Columns: [type, content, meme_id]
Index: []

In [20]:
df_user['sub_content'] = df_user.content.swifter.apply(substr)

Pandas Apply:   0%|          | 0/9150 [00:00<?, ?it/s]

/var/folders/yv/ss_gxzgs3jx6dn00dwvzvn100000gn/T/ipykernel_5012/3861877369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['sub_content'] = df_user.content.swifter.apply(substr)

### okt morphs

In [21]:
df_user['morphs'] = df_user.sub_content.swifter.apply(make_morphs)

Pandas Apply:   0%|          | 0/9150 [00:00<?, ?it/s]

/var/folders/yv/ss_gxzgs3jx6dn00dwvzvn100000gn/T/ipykernel_5012/785286436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_user['morphs'] = df_user.sub_content.swifter.apply(make_morphs)

In [22]:
df_user.head()

1,type,content,meme_id,sub_content,morphs
0,U,나 중간고사 반에서 1등했어,NaN,나 중간고사 반에서 1등했어,"[나, 중간고사, 반, 에서, 1등, 했어]"
1,U,중간고사 점수 내가 반에서 제일 잘 받음,NaN,중간고사 점수 내가 반에서 제일 잘 받음,"[중간고사, 점수, 내, 가, 반, 에서, 제일, 잘, 받음]"
2,U,나 반에서 중간 성적 제일 좋아,NaN,나 반에서 중간 성적 제일 좋아,"[나, 반, 에서, 중간, 성적, 제일, 좋아]"
3,U,우리 반에서 내가 시험 제일 잘 봤다,NaN,우리 반에서 내가 시험 제일 잘 봤다,"[우리, 반, 에서, 내, 가, 시험, 제일, 잘, 봤다]"
4,U,중간고사 반 1등 먹음,NaN,중간고사 반 1등 먹음,"[중간고사, 반, 1등, 먹음]"

In [23]:
df_user.shape

(9150, 5)

#

# Save

In [23]:
df_user = df_user[['content', 'morphs']]

In [24]:
df_user.head()

1                 content                              morphs
0         나 중간고사 반에서 1등했어            [나, 중간고사, 반, 에서, 1등, 했어]
1  중간고사 점수 내가 반에서 제일 잘 받음  [중간고사, 점수, 내, 가, 반, 에서, 제일, 잘, 받음]
2       나 반에서 중간 성적 제일 좋아          [나, 반, 에서, 중간, 성적, 제일, 좋아]
3    우리 반에서 내가 시험 제일 잘 봤다    [우리, 반, 에서, 내, 가, 시험, 제일, 잘, 봤다]
4            중간고사 반 1등 먹음                   [중간고사, 반, 1등, 먹음]

In [25]:
fm.save(config.temp_data, df_user)

Saved 9150 records