# Data Load

In [1]:
import config
from pshmodule.utils import filemanager as fm

In [2]:
df = fm.load(config.data_path)

extension : .xlsx
Loaded 36602 records from /Volumes/GoogleDrive/ë‚´ ë“œë¼ì´ë¸Œ/MemeProject/data/row_data/meme_v1.xlsx

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,ì´ ì„¸íŠ¸ ìˆ˜,ì´ ë°œí™”ë¬¸ ìˆ˜,ë°ˆ ì œì™¸ ë°œí™”,ë°ˆ ë°œí™” ìˆ˜,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1525,24897,15747,9150,NaN,NaN,NaN
1,NaN,ë¬¸ì¥ì¼ë ¨ë²ˆí˜¸,ê´€ë¦¬ë²ˆí˜¸,ë°ˆ id,set,utt,ë°œí™”êµ¬ë¶„,ëŒ€í™”ì†Œì¬,ARG0,ë°œí™”ë¬¸,ARG1,ARG_op,ì„œìˆ ì–´,í™”í–‰(U),meme_ID
2,NaN,1,Aa0001,DT0044,1,1,U,í•™êµìƒí™œ,ë‚˜,ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´,ì¤‘ê°„ê³ ì‚¬,ë°˜ì—ì„œ,1ë“±í•˜ë‹¤,ìë‘,NaN
3,NaN,2,NaN,NaN,NaN,2,U,í•™êµìƒí™œ,ë‚˜,ì¤‘ê°„ê³ ì‚¬ ì ìˆ˜ ë‚´ê°€ ë°˜ì—ì„œ ì œì¼ ì˜ ë°›ìŒ,ì¤‘ê°„ê³ ì‚¬,ë°˜ì—ì„œ,ì ìˆ˜ ì œì¼ ì˜ ë°›ë‹¤,ìë‘,NaN
4,NaN,3,NaN,NaN,NaN,3,U,í•™êµìƒí™œ,ë‚˜,ë‚˜ ë°˜ì—ì„œ ì¤‘ê°„ ì„±ì ì œì¼ ì¢‹ì•„,ì¤‘ê°„,ë°˜ì—ì„œ,ì„±ì ì œì¼ ì¢‹ë‹¤,ìë‘,NaN

#

# create header

In [4]:
new_header = df.iloc[1]
df = df[2:]
df.columns = new_header

#

# column organize

In [5]:
df = df[['ë°œí™”êµ¬ë¶„', 'ë°œí™”ë¬¸', 'meme_ID']]

In [6]:
df.reset_index(inplace=True, drop=True)

In [7]:
df.head()

1 ë°œí™”êµ¬ë¶„                     ë°œí™”ë¬¸ meme_ID
0    U         ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´     NaN
1    U  ì¤‘ê°„ê³ ì‚¬ ì ìˆ˜ ë‚´ê°€ ë°˜ì—ì„œ ì œì¼ ì˜ ë°›ìŒ     NaN
2    U       ë‚˜ ë°˜ì—ì„œ ì¤‘ê°„ ì„±ì  ì œì¼ ì¢‹ì•„     NaN
3    U    ìš°ë¦¬ ë°˜ì—ì„œ ë‚´ê°€ ì‹œí—˜ ì œì¼ ì˜ ë´¤ë‹¤     NaN
4    U            ì¤‘ê°„ê³ ì‚¬ ë°˜ 1ë“± ë¨¹ìŒ     NaN

In [8]:
df.rename(columns={'ë°œí™”êµ¬ë¶„':'type', 'ë°œí™”ë¬¸':'content', 'meme_ID':'meme_id'}, inplace=True)

In [9]:
df.shape

(36600, 3)

In [10]:
print(df.type.value_counts())
print("-"*100)
print(df.content.value_counts())
print("-"*100)
print(df.meme_id.value_counts())

U      9150
CPR    9150
MM     9150
CPO    9150
Name: type, dtype: int64
----------------------------------------------------------------------------------------------------
ë­ì•¼ë­ì•¼...ğŸ‘¥ğŸ‘¤ğŸ‘¥ ì›…ì„±ì›…ì„±...ğŸ‘¤ğŸ‘¥ğŸ‘¥ğŸ‘¤    40
ë§ì„ ì‡ì§€ ëª» í•˜ëŠ”...             36
ì•¼ ë„ˆë‘? ì•¼ ë‚˜ë‘!               36
ë„ˆ... ë­ ë¼...?              31
ë˜ ë‚˜ë§Œ ì§„ì‹¬ì´ì—ˆì§€...             31
                          ..
ì‘ì€ ì•„ì”¨ë“¤? ì±…?                 1
ì‘ì€ì•„ì”¨ë“¤ ë„·í”Œì— ë“±íŒí•¨!             1
ì‘ì€ ì•„ì”¨ë“¤ ë„·í”Œë¦­ìŠ¤ì— ë‚˜ì˜´            1
ì‘ì€ ì•„ì”¨ë“¤ ê·¸ ottì— ë‚˜ì™”ë‹¤          1
ëŒ€ê¸¸ì“° ì´ëª¨ë‹˜,, í˜ìˆ¨ì°ã„·ã„·            1
Name: content, Length: 21194, dtype: int64
----------------------------------------------------------------------------------------------------
DT0044    30
ER0006    30
DT0029    30
DT0072    30
DT0121    30
          ..
AT0013    30
CR0010    30
ER0010    30
BT0006    30
DT0023    30
Name: meme_id, Length: 305, dtype: int64

#

# Serial to Parallel

#### ì´ëª¨í‹°ì½˜ì— ëŒ€í•œ ì´ìŠˆ
#### ì¤‘ë³µ ì œê±°

### group numbering

In [11]:
num_li = []
number = 1

for k, v in enumerate(df.iterrows()):
    if k != 0 and k % 24 == 0:
        number += 1

    num_li.append(number)

In [12]:
df['group_no'] = num_li

### numbering

In [13]:
num_li = []
number = 1

for _ in df.iterrows():
    num_li.append(number)
    number += 1

In [14]:
num_li[:10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
df['num'] = num_li

In [16]:
df = df[['group_no', 'num', 'type', 'content']]

In [17]:
df.head(30)

1   group_no  num type                     content
0          1    1    U             ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´
1          1    2    U      ì¤‘ê°„ê³ ì‚¬ ì ìˆ˜ ë‚´ê°€ ë°˜ì—ì„œ ì œì¼ ì˜ ë°›ìŒ
2          1    3    U           ë‚˜ ë°˜ì—ì„œ ì¤‘ê°„ ì„±ì  ì œì¼ ì¢‹ì•„
3          1    4    U        ìš°ë¦¬ ë°˜ì—ì„œ ë‚´ê°€ ì‹œí—˜ ì œì¼ ì˜ ë´¤ë‹¤
4          1    5    U                ì¤‘ê°„ê³ ì‚¬ ë°˜ 1ë“± ë¨¹ìŒ
5          1    6    U              ì¤‘ê°„ì‹œí—˜ ë‚´ê°€ ë°˜ 1ë“±ì´ì•¼
6          1    7  CPR            ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!
7          1    8  CPR             ã„¹ã…‡? ëŒ€ê¸¸ì´ í•œí„± ì´ì•¼ê² ë„¤
8          1    9  CPR         1ë“± ê¸°ë…ìœ¼ë¡œ í”Œë ‰ìŠ¤ í•¨ ê°€ì¦ˆì•„~!
9          1   10  CPR             ì§„ì‹¬? ê·¸ëŸ¼ ìì¶•í•˜ëŸ¬ ê°€ì•¼ì§€
10         1   11  CPR           í•œí„± ì´ (ì§) í•œí„± ì´ (ì§)
11         1   12  CPR                   1ë“±í„± ê°€ë‚˜ìš”~?
12         1   13   MM           ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...
13         1   14   MM     ê·¼ë° ì´ì œ ë‚´ ëª«ì„ ì œì¼ ë§ì´ ê³ë“¤ì¸...
14         1   15   MM         ê·¼ë° ì´ì œ ëŒ€ì¶˜ì´ ëª«ë„ ê³ë“¤ì¸...
15         1   16   MM  ê·¼ë° ì´ì œ ë°°ë³´ë‹¤ ë°°ê¼½ì´ ë” í° ê±¸ ê³ë“¤ì¸...
16         1   17   MM           ê·¼ë° ì´ì œ ê³¼ì†Œë¹„ë¥¼ ê³ë“¤ì¸...
17         1   18   MM            ê·¼ë° ì´ì œ íƒ•ì§„ì„ ê³ë“¤ì¸...
18         1   19  CPO                         NaN
19         1   20  CPO                         NaN
20         1   21  CPO                         NaN
21         1   22  CPO                         NaN
22         1   23  CPO                         NaN
23         1   24  CPO                         NaN
24         2   25    U               ë„ˆ ì™œ ì´ë ‡ê²Œ ë©ì²­í•˜ëƒ?
25         2   26    U                ì´ ìƒˆë¼ ë¹¡ëŒ€ê°€ë¦¬ì–ì•„?
26         2   27    U                ë„ˆ ë§ê·€ ëª» ì•Œì•„ë“£ëƒê³
27         2   28    U                  ë³‘ì‹  ì´í•´ë ¥ ë”¸ë¦¬ë„¤
28         2   29    U                   ëŒ€ê°€ë¦¬ëŠ” ì¥ì‹ì„?
29         2   30    U                      ì–˜ ë°¥í†µì´ë„¤

### work to parallelize

In [18]:
from tqdm import tqdm
import pandas as pd

In [19]:
content_li = []
cpr_li = []
mm_li = []
cpo_li = []


for i in tqdm(range(max(df.group_no))):
    df_temp = df[df.group_no==i+1]
    
    # type U
    df_temp_u = df_temp[df_temp.type=='U']
    df_temp_u.reset_index(inplace=True, drop=True)
    for k in range(6):
        for _ in range(216):
            content_li.append(df_temp_u.content.iloc[k])

    # type CPR
    df_temp_cpr = df_temp[df_temp.type=='CPR']
    df_temp_cpr.reset_index(inplace=True, drop=True)
    for _ in range(6):
        for k in range(6):
            for _ in range(36):
                cpr_li.append(df_temp_cpr.content.iloc[k])
                
    # type MM
    df_temp_mm = df_temp[df_temp.type=='MM']
    df_temp_mm.reset_index(inplace=True, drop=True)
    for _ in range(6):
        for _ in range(6):
            for k in range(6):
                for _ in range(6):
                    mm_li.append(df_temp_mm.content.iloc[k])

    # type CPO
    df_temp_cpo = df_temp[df_temp.type=='CPO']
    df_temp_cpo.reset_index(inplace=True, drop=True)
    for _ in range(6):
        for _ in range(6):
            for _ in range(6):
                for k in range(6):
                        cpo_li.append(df_temp_cpo.content.iloc[k])

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1525/1525 [00:40<00:00, 37.26it/s]

In [20]:
df_result = pd.DataFrame([x for x in zip(content_li, cpr_li, mm_li, cpo_li)], columns=['u', 'cpr', 'mm', 'cpo'])

In [21]:
df_result.shape

(1976400, 4)

In [22]:
df_result.head()

                 u               cpr                 mm  cpo
0  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!  ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...  NaN
1  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!  ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...  NaN
2  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!  ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...  NaN
3  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!  ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...  NaN
4  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!  ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...  NaN

### drop duplicate

In [23]:
df_result.drop_duplicates(inplace=True)

In [24]:
df_result.reset_index(inplace=True, drop=True)

In [25]:
df_result.shape

(180940, 4)

In [26]:
df_result.head()

                 u               cpr                          mm  cpo
0  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!           ê·¼ë° ì´ì œ ë‚´ ê²ƒë„ ê³ë“¤ì¸...  NaN
1  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!     ê·¼ë° ì´ì œ ë‚´ ëª«ì„ ì œì¼ ë§ì´ ê³ë“¤ì¸...  NaN
2  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!         ê·¼ë° ì´ì œ ëŒ€ì¶˜ì´ ëª«ë„ ê³ë“¤ì¸...  NaN
3  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!  ê·¼ë° ì´ì œ ë°°ë³´ë‹¤ ë°°ê¼½ì´ ë” í° ê±¸ ê³ë“¤ì¸...  NaN
4  ë‚˜ ì¤‘ê°„ê³ ì‚¬ ë°˜ì—ì„œ 1ë“±í–ˆì–´  ê·¸ë ‡ë‹¤ë©´ í†µ í¬ê²Œ í•¨ ì´ì•¼ì§€!           ê·¼ë° ì´ì œ ê³¼ì†Œë¹„ë¥¼ ê³ë“¤ì¸...  NaN

#

# Save

In [27]:
fm.save(config.temp_ref_data, df_result)

Saved 180940 records